@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2015-06-08 14:21:05
 * @version $Id$
 */
/* detail详细页面 */

/*-----------页面定位--------------*/

.userPosition{padding-bottom:20px;}
.userPosition a{color:#666;}
.userPosition a:hover{color:#ff3228;}
.userPosition span{font-size:16px;color:#666;}

/*商品描述*/
.description{height:600px;padding:20px;border:1px solid #e8e8e8;}

/*左边图片区域*/
.description .dleftArea{width:400px;height:600px;}
.dleftArea .topItem{width:400px;height:400px;}
.dleftArea .topIte a{display:block;height:400px;}

/*缩略图*/
.dleftArea .thumb{width:400px;height:50px;margin:18px 0;}
.dleftArea .thumb li{float:left;margin:0 3px;}
.dleftArea .thumb .tfirst{margin-left:0;}
.dleftArea .thumb .tlast{margin-right:0;}
.dleftArea .thumb a{display:block;height:50px;border:1px solid #fff;}
.dleftArea .thumb li a:hover{border:1px solid #ff3228;}
.dleftArea .thumb img{width:50px;height:50px;}
.dleftArea .social{width:400px;height:40px;padding:10px 0;}
.dleftArea .social li{float:left;width:100px;}
.dleftArea .social a{display:block;float:left;height:25px;line-height:25px;}
.dleftArea .social b{display:block;float:left;width:18px;height:25px;margin-right:3px;cursor:pointer;background:url(../image/icon/newicon20140910.png) no-repeat left -1px;}
.dleftArea .social .attention b{background-position:-18px -1px;}

/*右边详细描述*/
.description .drightArea{width:768px;height:400px;color:666;}
.itemInfo{position:relative;width:527px;padding-left:10px;}

/*商品描述*/
#name{zoom:1;padding:0 75px 10px 10px;}
#name h1{overflow:hidden;font:700 16px/32px arial,'microsoft yahei';color:#000;}
#name .p-ad{font-family:arial,'microsoft yahei';font-size:14px;line-height:20px;word-break:break-all;color:#e3393c;}
#compare{position:absolute;top:20px;right:0;overflow:hidden;}
#compare .btn-compare{display:inline-block;overflow:hidden;height:22px;padding:0 15px;line-height:22px;text-align:center;color:#323232;border:solid 1px #ddd;border-radius:2px;background:#f5f5f5;}

/*价格 促销 配送*/
#summary{position:relative;z-index:2;width:100%;padding:10px 0;}
#comment-count{position:absolute;z-index:6;top:10px;right:12px;width:50px;height:30px;padding:20px 0 0 10px;line-height:15px;text-align:center;color:#666;}
#comment-count .count{font:14px verdana;color:#005ea7;}
#summary-price{height:30px;padding-top:10px;padding-right:81px;padding-bottom:0;line-height:30px;background:#f7f7f7;}
#summary-price .dt,#summary-promotion .dt,#summary-service .dt,#summary-stock .dt{display:inline;float:left;width:72px;font-family:'\5B8B\4F53';text-align:right;color:#666;}
#summary-price .dd{width:432px;}
#summary-price .p-price{display:inline-block;font-size:20px;vertical-align:middle;color:#e4393c;}

/*促销信息*/
.summary-top{position:relative;margin-bottom:10px;padding:0 0 10px;background:#f7f7f7;}
#summary-promotion{position:relative;width:516px;padding-top:4px;padding-right:0;background:#f7f7f7;}
#summary-promotion .dt{line-height:30px;}
#summary-promotion .dd{width:516px;}
.p-promotions{width:425px;line-height:30px;}

/*配送*/
#summary-stock{padding-top:6px;padding-bottom:6px;}
#summary-stock .dt{margin-top:4px;}
#store-selector{position:relative;z-index:3;float:left;height:26px;margin-right:6px;margin-left:5px;}
#store-selector .text{position:relative;top:0;float:left;overflow:hidden;height:23px;padding:0 20px 0 4px;line-height:23px;color:#666;border:1px solid #cecbce;background:#fff;}
#store-selector .text b{position:absolute;top:0;right:0;display:block;overflow:hidden;width:17px;height:24px;background:url(../image/description/newicon20140910.png) no-repeat -264px -188px;}
#store-selector .content{position:absolute;top:25px;left:-45px;display:none;width:390px;padding:15px;border:1px solid #cecbce;background:#fff;-webkit-box-shadow:0 0 5px #ddd;-moz-box-shadow:0 0 5px #ddd;box-shadow:0 0 5px #ddd;}
#store-prompt{float:left;margin-top:4px;color:#666;}
#store-prompt strong{font-size:14px;color:#666;}
#store-prompt a{color:#005aa0;}

/*服务*/
#summary-service{display:block;padding-top:12px;padding-bottom:12px;color:#666;}
#summary-service .deliver{margin-left:5px;}
#summary-service a:hover{border-color:#ff3228;}
#summary-service a{margin:0 6px;}
#summary-service .standard{margin-right:10px;padding:5px 8px;color:#000;border:1px solid #ddd;}

/*选择商品数量*/
.amount{padding:6px 0;line-height:28px;}
.amount dt{display:inline-block;float:left;width:60px;height:28px;padding-left:12px;font-family:'\5B8B\4F53';line-height:28px;text-align:left;color:#666;}
.amount dd{width:447px;}
.amount span{position:relative;float:left;padding:0 6px;color:#000;}
.stock .disable-reduce,.stock .disable-reduce:hover{cursor:not-allowed;color:#ccc;background-color:#ededed;}
.stock a,.stock a:hover{display:block;float:left;overflow:hidden;width:26px;height:26px;padding:0;font-size:20px;line-height:26px;text-align:center;vertical-align:top;border:1px solid #ccc;background-color:#ededed;}
.stock .stock-num,.stock input{float:left;width:48px;height:26px;margin:0;padding:0;font-size:16px;line-height:26px;text-align:center;color:#666;border:1px solid #ccc;outline:0;background:#fff;ime-mode:disabled;}
.amount em{font-family:normal;color:#000;}

/*购物车，购买*/
.action{position:relative;z-index:1;overflow:hidden;width:527px;margin:20px 0;}
.action .btn-buy{margin:0 10px;}
.action .btn-buy a{color:#e5511d;border-color:#f0cab6;background:#ffe4d0;}
.action .btn-buy a:hover{background:#ffd9bc;}
.action .btn-buy a,.action .btn-add a{display:block;width:134px;height:38px;font-family:'Hiragino Sans GB','microsoft yahei',sans-serif;font-size:16px;line-height:38px;cursor:pointer;text-align:center;border-width:1px;border-style:solid;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.action .btn-add a{width:180px;color:#fff;border-color:#E64346;background:#E64346;}
.action .btn-add a:hover{background:#E60012;}
.action .btn-add i{margin-right:10px;font-size:18px;font-weight:400;font-style:normal;vertical-align:bottom;background: url(../image/icon/cart.gif) no-repeat left center ;z-index: 2}

/*正品保障信息*/
.dl{position:relative;overflow:hidden;width:527px;}
.mod_detailInfor_ensure{height:42px;line-height:42px;border-top:1px dotted #d9d9d9;}
.mod_detailInfor_ensure dt,.mod_detailInfor_ensure dd,.mod_detailInfor_ensure dd a{float:left;}
.mod_detailInfor_ensure dt{display:inline-block;float:left;width:60px;height:40px;padding-left:10px;font-family:'\5B8B\4F53';line-height:40px;text-align:left;color:#666;}
.mod_detailInfor_ensure dd{width:447px;}
.mod_detailInfor_ensure .payment{position:relative;float:right;text-align:right;color:#666;}
.mod_detailInfor_ensure .payment a{margin:0;}
.mod_detailInfor_ensure dd a{height:40px;margin-right:30px;line-height:40px;color:#999;}
.mod_detailInfor_ensure dd a:hover{color:#ff3228;}

/*最右边的部分*/
.dadd{width:210px;border:1px solid #e8e8e8;}
.mod_change .cha_t{height:30px;padding-left:14px;font-family:'microsoft yahei';font-size:14px;line-height:31px;color:#666;border-bottom:1px solid #eaeaea;background:#fcfcfc;}
.mod_change .cha_t a{display:inline-block;float:right;margin-right:14px;font-family:'songti';font-size:12px;color:#aaa;}
.seeclip_list{width:180px;margin:0 auto;padding:5px 2px 0 3px;}
.seeclip_list li{display:block;margin:12px 0;text-align:center;}
.seeclip_list li img{width:180px;height:180px;border:none;}
.mod_change .see_more{margin-bottom:10px;text-align:center;}
.mod_change .see_more a{display:block;width:210px;height:30px;margin-top:20px;font:14px/30px 'microsoft yahei';border-top:1px solid #eaeaea;background:#fcfcfc;}

/*------------商品详细说明--------------*/

/*左侧列表*/

#detailLeft{width:210px;border:1px solid #e8e8e8;}
#detailLeft h3{width:210px;height:40px;font:14px/40px 'Microsoft Yahei';text-indent:7px;color:#000;border-bottom:1px solid #e5e5e5;background:#f7f7f7;background-color:#fafafa;box-shadow:1px 1px 2px rgba(221,221,221,.6);}

/*右侧正文说明*/
#detailRight{width:980px;margin-bottom:20px;}

/*头部导航*/
.des_tab{height:40px;border:1px solid #e5e5e5;background-color:#fafafa;box-shadow:1px 1px 2px rgba(221,221,221,.6);}
.des_tab .des_tabbox{float:left;background-color:#fafafa;}
.des_tab li{height:100%;font:normal 14px/50px '\5FAE\8F6F\96C5\9ED1';line-height:50px;color:#333;}
.des_tab .tab{position:relative;z-index:30;top:-1px;left:-1px;float:left;width:120px;height:42px;font-family:'microsoft yahei';font-size:14px;line-height:40px;text-align:center;color:#333;border-right:1px solid #e1e1e1;outline:0;}
.des_tab .des_tabbox .tab{width:110px;}
.des_tab .cur,.des_tab .cur:hover{color:white;background-color:#e60012;}
.des_tabbox em,.des_tab a:hover{color:#ff3228;}
.des_tabbox em{font-size:12px;vertical-align:baseline;}

/* 商品规格参数 */
.goodStandard{margin-top:18px;padding:8px 5px;color:#000;background:#f7f7f7;box-shadow:1px 1px 2px rgba(221,221,221,.6);}
.goodStandard h4{height:40px;font:14px/40px 'Microsoft Yahei';text-indent:5px;color:#000;}
.goodStandard ul{float:left;padding-right:80px;}
.goodStandard li{font:12px/24px 'Microsoft Yahei';text-indent:5px;color:#666;}
.des_img{padding:20px 0;}

/*详细说明栏目*/