@charset "UTF-8";
/*
* @authors kay chen (you@example.org)
* @date    2015-04-14 12:51:59
* @version $Id$
*/
html{border:0 none;margin:0;padding:0;}
body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,article,aside,dialog,figure,footer,header,hgroup,nav,section{border:0 none;font:inherit;margin:0;padding:0;vertical-align:baseline;}
article,aside,details,figcaption,figure,dialog,footer,header,hgroup,menu,nav,section{display:block;margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{float:none!important;font-weight:normal;}
table,th,td{vertical-align:middle;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
img,a img{border:medium none;}
:focus{outline:0 none;}
input,button,select,textarea{outline:medium none;}
textarea{resize:none;}
/*input,select{border:0 none;}*/
body{color:#333;font-family:"微软雅黑","宋体",Arial,sans-serif;font-size:13px;}
body,html{height:100%;min-height:550px;min-width:768px;width:100%;}
pre{white-space:pre-wrap;word-wrap:break-word;}
input.dialog{border:medium none;font-size:0;height:0;line-height:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
h1{font-size:34px;}
h2{font-size:26px;}
h3{font-size:18px;}
h4{font-size:16px;}
h5{font-size:14px;}
h6{font-size:12px;}
input,label,img,th,select{vertical-align:middle;}
.font-fixh{color:#f00;font-family:Georgia,Arial;font-size:16px;font-weight:700;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
input.button,input.btn{padding:0.25em;width:auto;}
button{cursor:pointer;}
blockquote{color:#666;font-style:italic;margin:1.5em;}
.vem{vertical-align:middle;}
.vet{vertical-align:top;}
li{list-style-type:none;}
a:focus,a:hover{color:#ff2832;;}
a{color:#333;text-decoration:none;}
.cor1,.cor1 a{color:#00a1f1;}
.cor2,.cor2 a{color:#333;}
.cor3,.cor3 a{color:#666;}
.cor4,.cor4 a{color:#ffcb0b;}
.cor5,.cor5 a{color:#0a59ac;}
.cor7,.cor7 a{color: #FF2832;}
.white,.white a{color:#fff;}
.blue,.blue a{color:#004499;}
.gray,.gray a,a.gray{color:#999;}
.red,.red a,a.red{color:red;}
.green,.green a,a.green{color:#0e774a;}
.black,.black a{color: #000;}
.f12,.f12 a{font-size:12px;}
.f14,.f14 a{font-size:14px;}
.f16,.f16 a{font-size:16px;}
.f18,.f18 a{font-size:18px;}
.f20,.f20 a{font-size:20px;}
.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh24{line-height:24px;}
.lh25{line-height:25px;}
.lh26{line-height:26px;}
.lh28{line-height:28px;}
.lh30{line-height:30px;}
.lh35{line-height:35px;}
.lh40{line-height:40px;}
.lh50{line-height:50px;}
.lh60{line-height:60px;}
.h20{height:20px;}
.h24{height:24px;}
.h25{height:25px;}
.h28{height:28px;}
.h30{height:30px;}
.h35{height:35px;}
.h40{height:40px;}
.h50{height:50px;}
.h60{height:60px;}
.h100{height:100px;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.bk,.bk3,.bk5,.bk6,.bk8,.bk10,.bk15,.bk20,.bk30{clear:both;font-size:1px;height:0;line-height:1px;}
.bk3{height:3px;}
.bk5{height:5px;}
.bk6{height:6px;}
.bk8{height:8px;}
.bk10{height:10px;}
.bk15{height:15px;}
.bk20{height:20px;}
.bk30{height:30px;}
.clearfix{*zoom:1}
.clearfix:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden}
.clear:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.fl{float:left;}
.fr{float:right;}
.ovau{overflow:auto;}
.ovhi{overflow:hidden;}
.psAb{position:absolute;}
.psRe{position:relative;}
.disbl{display:block;}
.disin{display:inline-block;}
.disno{display:none;}
.tdu,.tdu a{text-decoration:underline;}
.tdn,.tdn a{text-decoration:none;}
.textl{text-align:left;}
.textc{text-align:center;}
.textr{text-align:right;}
.mar0a{margin:0 auto;}
.cupo{cursor:pointer;}
.grd1{width:40px;}
.grd2{width:80px;}
.grd3{width:120px;}
.grd4{width:160px;}
.grd5{width:200px;}
.grd6{width:240px;}
.grd7{width:280px;}
.grd8{width:320px;}
.grd9{width:360px;}
.grd10{width:400px;}
.grd11{width:440px;}
.grd12{width:480px;}
.grd13{width:520px;}
.grd14{width:560px;}
.grd15{width:600px;}
.grd16{width:640px;}
.grd17{width:680px;}
.grd18{width:720px;}
.grd19{width:760px;}
.grd20{width:800px;}
.grd21{width:840px;}
.grd22{width:880px;}
.grd23{width:920px;}
.grd24{width:960px;}
.grd25{width:1000px;}
@media screen and (max-width:1679px){
    .span1{width:103px;}
    .span2{width:206px;}
    .span3{width:309px;}
    .span4{width:412px;}
    .span5{width:515px;}
    .span6{width:618px;}
    .span7{width:721px;}
    .span8{width:824px;}
    .span9{width:927px;}
    .span10{width:1030px;}
    .span11{width:1133px;}
    .span12{width:1236px;}
}
@media screen and (min-width:1679px){
    .span1{width:124px;}
    .span2{width:248px;}
    .span3{width:372px;}
    .span4{width:496px;}
    .span5{width:620px;}
    .span6{width:744px;}
    .span7{width:868px;}
    .span8{width:992px;}
    .span9{width:1116px;}
    .span10{width:1240px;}
    .span11{width:1364px;}
    .span12{width:1488px;}
}
.pad5{padding:5px;}
.pad10{padding:10px;}
.pad15{padding:15px;}
.pad20{padding:20px;}
.padl7{padding-left:7px;}
.padl5{padding-left:5px;}
.padl10{padding-left:10px;}
.padl15{padding-left:15px;}
.padl20{padding-left:20px;}
.padr5{padding-right:5px;}
.padr8{padding-right: 7px;}
.padr10{padding-right:10px;}
.padr15{padding-right:15px;}
.padr20{padding-right:20px;}
.padt5{padding-top:5px;}
.padt10{padding-top:10px;}
.padt15{padding-top:15px;}
.padt20{padding-top:20px;}
.padt40{padding-top: 40px;}
.padb5{padding-bottom:5px;}
.padb10{padding-bottom:10px;}
.padb15{padding-bottom:15px;}
.padb20{padding-bottom:20px;}
.padlr5{padding:0 5px;}
.padlr10{padding:0 10px;}
.padlr15{padding:0 15px;}
.padlr20{padding:0 20px;}
.padtb5{padding:5px 0;}
.padtb10{padding:10px 0;}
.padtb15{padding:15px 0;}
.padtb20{padding:20px 0;}
.mar5{margin:5px;}
.mar10{margin:10px;}
.mar15{margin:15px;}
.mar20{margin:20px;}
.marlr5{margin:0 5px;}
.marlr10{margin:0 10px;}
.marlr15{margin:0 15px;}
.marlr20{margin:0 20px;}
.martb5{margin:5px 0;}
.martb10{margin:10px 0;}
.martb15{margin:15px 0;}
.martb20{margin:20px 0;}
.marl5{margin-left:5px;}
.marl10{margin-left:10px;}
.marl15{margin-left:15px;}
.marl20{margin-left:20px;}
.marr5{margin-right:5px;}
.marr10{margin-right:10px;}
.marr15{margin-right:15px;}
.marr20{margin-right:20px;}
.mart5{margin-top:5px;}
.mart10{margin-top:10px;}
.mart15{margin-top:15px;}
.mart20{margin-top:20px;}
.marb5{margin-bottom:5px;}
.marb10{margin-bottom:10px;}
.marb15{margin-bottom:15px;}
.marb20{margin-bottom:20px;}
.bag1{background:none repeat scroll 0 0 #eaebf0;}
.bag2{background:none repeat scroll 0 0 #cccccc;}
.bag3{background:none repeat scroll 0 0 #f9f9f9;}
.bagf{background:none repeat scroll 0 0 #fff;}
.bagb{background:none repeat scroll 0 0 #000;}